@model User


<div class="container mt-5 mb-5">

    <div class="row d-flex align-items-center justify-content-center">

        <div class="col-md-6">

            <div class="card bg-primary bg-gradient mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Edit Profile</h2>
                    </div>
                </div>
            </div>

            <div class="card px-5 py-5">

                <form method="post" class="row">
                    <input asp-for="Id" hidden />

                    <div class="mb-3 row p-1">
                        <label asp-for=Email class="p-0"></label>
                        <input asp-for=Email type="text" class="form-control" readonly>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=Password class="p-0"></label>
                        <input asp-for=Password type="password" required class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=ConfirmPassword class="p-0"></label>
                        <input asp-for=ConfirmPassword type="password" required class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=Name class="p-0"></label>
                        <input asp-for=Name type="text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=Surname class="p-0" asp></label>
                        <input asp-for=Surname type="text" class="form-control">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=Address class="p-0"></label>
                        <input asp-for=Address type="text" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=Date class="p-0"></label>
                        <input asp-for=Date type="date" class="form-control">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label asp-for=UserType class="p-0"></label>
                        <select asp-for="UserType" class="form-select">
                            <option disabled selected>-Select Type-</option>
                            <option value="Buyer">Buyer</option>
                            <option value="Seller">Seller</option>
                        </select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3 p-1 signup">Update!</button>

                </form>

            </div>

        </div>

    </div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}